@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    /*background-color: blanchedalmond; */
    background-color: aquamarine;
    height: 100vh;
}

/* Header Styles */
header h1 {
    font-size: 3em;
    padding-left: 1em;
}

h1 {
    font-size: 4.5em;
    font-family: 'Poppins', sans-serif;
}

th, a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: inherit;
}

/* Common Text Styles */
li, td, th, p {
    /*font-family: 'Courier New', Courier, monospace;*/
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 2em;
}

td {
    justify-content: center;
    font-size: 1.5em;
}

/* ----------------------------------------- */
/* Styling for the top title page and footer */
/* laying out info horizontally              */
/* ----------------------------------------- */
#title {
    display: flex;
    border-bottom: 0.15rem solid black;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}


/* styling for list of links, making them horizontal and removing list stylin*/
#title ul {
    display: flex;
    list-style: none;
}

#title li {
    margin-left: 0.1em;
    padding: 0.4em;
}

/* styling for link icons in title and login button*/
#title nav a, .big-button a {
    background-color: antiquewhite;
    border-radius: 0.7em;
    padding: 0.8vh;
    border: 0.2rem solid #000;
}

#title a {
    font-size: 1.2rem;
    font-weight: 500;
}

#title nav a:hover, .big-button a:hover{
    background-color: rgb(250, 219, 179);
    cursor: pointer;
}

/* Styling for footer element*/
#footer {
    background-color: white;
    border-top: 0.15rem solid black;
    padding: 0.2em;
    bottom: 0;
    position: fixed;
    width: 100%;
}

#footer #signature {
    text-align: center;
}

#footer p {
    font-size: 1rem;
}
/* ----------------------------------------- */

#main-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------- */
/* Styling for the login page*/
/* ------------------------------------- */
#login {
    max-width: 40vh;
    margin-top: 5em;
}