@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    /*background-color: blanchedalmond; */
    background-color: aquamarine;
    height: 100vh;
}

/* Header Styles */
header h1 {
    font-size: 3em;
    padding-left: 1em;
}

h1 {
    font-size: 4.5em;
    font-family: 'Poppins', sans-serif;
}

th, a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: inherit;
}

/* Common Text Styles */
li, td, th, p {
    /*font-family: 'Courier New', Courier, monospace;*/
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 2em;
}

td {
    justify-content: center;
    font-size: 1.5em;
}

/* ----------------------------------------- */
/* Styling for the top title page and footer */
/* laying out info horizontally              */
/* ----------------------------------------- */
#title {
    display: flex;
    border-bottom: 0.15rem solid black;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}


/* styling for list of links, making them horizontal and removing list stylin*/
#title ul {
    display: flex;
    list-style: none;
}

#title li {
    margin-left: 0.1em;
    padding: 0.4em;
}

/* styling for link icons in title and login button*/
#title nav a, .big-button a {
    background-color: antiquewhite;
    border-radius: 0.7em;
    padding: 0.8vh;
    border: 0.2rem solid #000;
}

#title a {
    font-size: 1.2rem;
    font-weight: 500;
}

#title nav a:hover, .big-button a:hover{
    background-color: rgb(250, 219, 179);
    cursor: pointer;
}

/* Styling for footer element*/
#footer {
    display: flex;
    align-items: center;
    background-color: white;
    border-top: 0.15rem solid black;
    padding: 0.2em;
    bottom: 0;
    position: fixed;
    width: 100%;
}

#footer p {
    font-size: 1rem;
}

#footer #log-footer input {
    border: none;
    color: inherit;
    font: inherit;
}
/* ----------------------------------------- */

/* ------------------------------------- */
/* Styling for the about me section*/
/* ------------------------------------- */

/* sets up grid for content in all elements in the info-container */
#index-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(0, auto);
    align-items: start;
    padding-top: 5em;
    padding-left: 12vw;
    padding-right: 6em;
    padding-bottom: 5em;
}

#about-me {
    grid-row: 1;
    grid-column: 1/3;
    max-height: 60vh;
    max-width: 100vh;
}

#profile-pic {
    grid-row: 1;
    grid-column: 3;   
    padding-top: 2em;
}

#profile-pic img {
    border-radius: 20vh;
    border: solid 0.2em black;
    height: 35vh;
}

#contact-info {
    margin-top: 3em;
    grid-row: 2/4;
    grid-column: 1/3;
}

#contact-info img {
    height: 5vh;
    width: 5vh;
}

#contact-info section {
    display: flex;
}

#contact-info img {
    padding-right: 2em;
}

#login, #add-post {
    grid-row: 2/4;
    grid-column: 3/3;
    padding-top: 2em;
}

.big-button a {
    font-size: 3em;
    font-weight: 600;
}

/* aligns login and img to center of respective grid cells*/
#login, #profile-pic {
    padding-right: 5em;
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
}
/* ------------------------------------- */

/* ------------------------------------- */
/* styling for experience                */
/* ------------------------------------- */
#experience-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(0, auto);
    align-items: start;
    padding-top: 5em;
    padding-left: 12vw;
    padding-right: 6em;
    padding-bottom: 4em;
}

#experience {
    width: 80vw;
}

#experience .job {
    padding-left: 5vw;
}

#experience li {
    font-size: 1.3vw;
    padding-bottom: 0.5em;
    max-width: 60vw;
}

#experience .p-title {
    font-size: 2vw;
    font-weight: 600;
}
/* ------------------------------------- */


/* ------------------------------------- */
/* styling for Education, Achievements   */
/* and Skill sections.                   */
/* ------------------------------------- */

.sub-h1 {
    font-size: 3.5em;
}

#education-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(0, auto);
    align-items: start;
    padding-left: 12vw;
    padding-right: 6em;
    padding-bottom: 5em;
}

#date {
    font-size: 1.2vw;
    font-style: oblique;
}

#education {
    margin-top: 5em;
    grid-row: 1/3;
    grid-column: 1/3;
    width: 60vh;
}

#education div {
    padding-bottom: 2em;
}

#grades td{
    font-size: 1.8vh;
    padding-left: 2em;
}

.p-title{
    font-size: 3vh;
    font-weight: 430;
}

#education #date {
    font-weight: 400;
}

#achievements {
    margin-top: 6.5em;
    grid-row: 1/2;
    grid-column: 3/5;
    width: 60vh;
}

#achievements p {
    padding-bottom: 0.5em;
    font-weight: 400;
}

#achievements li {
    padding: 0;
    margin: 0;
}

#achievements img {
    height: 5vh;
    padding-right: 1em;
}

.achievement {
    display: flex;
    padding-bottom: 1em;
}

#skills {
    padding-top: 3em;
    grid-row: 2;
    grid-column: 3/3;
}

#skills ul {
    padding: 0;
    margin: 0;
    display: flex;
}

#skills li {
    display: grid;
    padding-right: 1.5em;
    text-align: center;

}

#skills p {
    padding-top: 1rem;
    font-size: 2.5vh;
    font-weight: 600;
}

#skills img {
    height: 5vh;
    width: 5vh;
}
/* ------------------------------------- */

/* styling for card class 
.card {
    margin-left: 3em;
    margin-right: 3em;
    padding: 1rem;
    
    border-radius: 3rem;
    /*background-color: antiquewhite;*/
    /*border: 0.3rem solid #000;*/


.card h1{
    padding-bottom: 0.5em;
}

/* ------------------------------------- */
/* Styling for projects                  */
/* ------------------------------------- */


.project img {
    height: 30vh;
    width: 50vh;
    border-radius: 1em;
    border: 0.2em solid black;
}

.project-caption p{
    font-size: 0.8em;
}

.project .p-title {
    margin-right: 14vh;
    margin-bottom: 0.5em;
}

/* grid for projects */
#project-container {
    padding-top: 5em;
    padding-left: 12vw;
    padding-right: 6em;
}

table {
    border-collapse: collapse;
}

#projects td {
    padding-bottom: 2em;
}


.right-column {
    padding-left: 10em;
}
/* ------------------------------------- */


/* ------------------------------------- */
/* styling for blog page                 */
/* ------------------------------------- */
#blog-container {
    padding-top: 5em;
    padding-left: 12vw;
    padding-right: 6em;
    padding-bottom: 5em;
}

/* This aligns h2 elements side by side with space between*/
#blog-title {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
}
    
#blog-entries h2 {
    font-size: 4vh;
    font-family: 'Poppins', sans-serif;
}

.blog-entry {
    max-width: 95%;
    grid-row: 2;    
    padding-left: 2em;
    padding-top: 1em;
    padding-right: 2em;
    margin-right: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-radius: 2rem;
    background-color: antiquewhite;
    border: 0.3rem solid #000;
}

#blog-entries .p1 {
    font-size: 2.5vh;
}

/* ------------------------------------- */


/* ------------------------------------- */
/* styling for add post                  */
/* ------------------------------------- */
/* this centralises the blog form*/
#add-blog {
    display: flex;
    justify-content: center;
    padding-top: 5em;
}

#add-blog p {
    padding-top: 1em;
    padding-bottom: 1em;
}

#add-blog #post-title {
    font-size: 3vh;
}
/* ------------------------------------- */